# Enable mod_rewrite
RewriteEngine On

# Rewrite requests to day.hurx.io to /var/www/html/day.html
RewriteCond %{HTTP_HOST} ^day\.hurx\.io$
RewriteCond %{REQUEST_URI} !^day.html
RewriteRule ^(.*)$ day.html [L]